//Font-family Variables
$fontArial: Arial, "Helvetica Neue", Helvetica, sans-serif;
$fontHeading: "BilboSwashCaps";
$fontBody: "Imprima-Regular";

//Color Variables
$navBg: #000000;
$bodyBg: #252525;
$sidebarBg: #535353;
$logoBg: #D4D4D4;
$cFontMain: #c2c2c2;
$cAccent: #f24f4f;